In [13]:
import pandas as pd

In [14]:
#loading the data set and hand made code 

data = {
    'Name' : ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age' : [24, 27, 22, 32, 29 ],
    'City' : ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'] ,
    'Marks': [85, 90, 78, 88, 92] 
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City  Marks
0    Alice   24     New York     85
1      Bob   27  Los Angeles     90
2  Charlie   22      Chicago     78
3    David   32      Houston     88
4      Eva   29      Phoenix     92

In [15]:
print(df.isnull().sum())  # Check for missing values

Name     0
Age      0
City     0
Marks    0
dtype: int64

In [16]:
print(df.head(3))  # Display the first 3 rows
print(df.describe())  # Get summary statistics
print(df['Age'].mean())  # Calculate the mean age
print(df[df['Marks'] > 85])  # Filter rows where Marks > 85
print(df.sort_values(by='Marks', ascending=False))  # Sort by Marks in descending order
print(df.groupby('City')['Marks'].mean())  # Average Marks by City

      Name  Age         City  Marks
0    Alice   24     New York     85
1      Bob   27  Los Angeles     90
2  Charlie   22      Chicago     78
             Age      Marks
count   5.000000   5.000000
mean   26.800000  86.600000
std     3.962323   5.458938
min    22.000000  78.000000
25%    24.000000  85.000000
50%    27.000000  88.000000
75%    29.000000  90.000000
max    32.000000  92.000000
26.8
    Name  Age         City  Marks
1    Bob   27  Los Angeles     90
3  David   32      Houston     88
4    Eva   29      Phoenix     92
      Name  Age         City  Marks
4      Eva   29      Phoenix     92
1      Bob   27  Los Angeles     90
3    David   32      Houston     88
0    Alice   24     New York     85
2  Charlie   22      Chicago     78
City
Chicago        78.0
Houston        88.0
Los Angeles    90.0
New York       85.0
Phoenix        92.0
Name: Marks, dtype: float64

In [17]:
#Mini Project On pandas

print("Mini Project On pandas")
print("Total Students:", len(df))
print("Average Marks:", df['Marks'].mean())
print("Highest Marks:", df['Marks'].max())
print("Top Scorer(s):")

Mini Project On pandas
Total Students: 5
Average Marks: 86.6
Highest Marks: 92
Top Scorer(s):