### Day 18 : Pandas: Data Cleaning, GroupBy & Aggregation

In [22]:
import pandas as pd # Importing Pandas for Data manipulation and analysis

In [23]:
data = {
    'Name': ['Om' , 'Raj','Keya' , 'Om' , 'Neha' , None] ,
    'Age' : [20 ,21,19,20,None ,22],
    'city' :['Ahmedabad', 'Mumbai' , None , 'Ahmedabad', 'Delhi', 'Mumbai'],
    'Marks' :[85,90,88,None , 70 ,85]
}
# importing the Data sets in the cell 
# this is the Data celll  And  I added the duplicates and None in the data to see the Groupby(), cleaning and aggregation in the panda

In [24]:
df = pd.DataFrame(data)
print (df)
# Step 1 : Printed the data to see how it's looked

   Name   Age       city  Marks
0    Om  20.0  Ahmedabad   85.0
1   Raj  21.0     Mumbai   90.0
2  Keya  19.0       None   88.0
3    Om  20.0  Ahmedabad    NaN
4  Neha   NaN      Delhi   70.0
5  None  22.0     Mumbai   85.0

In [25]:
print(df.isnull().sum()) # Missing Value Joi apdee , column wise

Name     1
Age      1
city     1
Marks    1
dtype: int64

In [26]:
df_drop = df.dropna()
print(df_drop) 
#Dropping missing the rows

  Name   Age       city  Marks
0   Om  20.0  Ahmedabad   85.0
1  Raj  21.0     Mumbai   90.0

In [ ]:
df_filled = df.copy()
df_filled['Age'].fillna(df['Age'].mean(),inplace = True )
df_filled['city'].fillna("Unknown", inplace=True)
df_filled['Marks'].fillna(df['Marks'].mean(), inplace =True)
df_filled['Name'].fillna("Unknown", inplace=True)

print(df_filled)

#Filling Misiing Values

      Name   Age       city  Marks
0       Om  20.0  Ahmedabad   85.0
1      Raj  21.0     Mumbai   90.0
2     Keya  19.0    Unknown   88.0
3       Om  20.0  Ahmedabad   83.6
4     Neha  20.4      Delhi   70.0
5  Unknown  22.0     Mumbai   85.0

C:\Users\Om Panchal\AppData\Local\Temp\ipykernel_2916\1867945332.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Age'].fillna(df['Age'].mean(),inplace = True )
C:\Users\Om Panchal\AppData\Local\Temp\ipykernel_2916\1867945332.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['city'].fillna("Unknown", inplace=True)
C:\Users\Om Panchal\AppData\Local\Temp\ipykernel_2916\1867945332.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Marks'].fillna(df['Marks'].mean(), inplace =True)
C:\Users\Om Panchal\AppData\Local\Temp\ipykernel_2916\1867945332.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Name'].fillna("Unknown", inplace=True)

In [28]:
print(len(df_filled)) # Before Removing the duplicates 
df_clean = df_filled.drop_duplicates()
print(len(df_clean))

6
6

In [32]:
df_clean['city'].replace("Mumbai" , "MUM" , inplace =True)
print(df_clean) # Replaceing the value 
print("\n")
df_clean['city'].replace("Ahmedabad", "Ahm" , inplace = True)
print(df_clean)
print("\n")
df_clean['city'].replace("Delhi" , "Del" , inplace = True)
print(df_clean)
print("\n")

      Name   Age     city  Marks
0       Om  20.0      Ahm   85.0
1      Raj  21.0      MUM   90.0
2     Keya  19.0  Unknown   88.0
3       Om  20.0      Ahm   83.6
4     Neha  20.4      Del   70.0
5  Unknown  22.0      MUM   85.0


      Name   Age     city  Marks
0       Om  20.0      Ahm   85.0
1      Raj  21.0      MUM   90.0
2     Keya  19.0  Unknown   88.0
3       Om  20.0      Ahm   83.6
4     Neha  20.4      Del   70.0
5  Unknown  22.0      MUM   85.0


      Name   Age     city  Marks
0       Om  20.0      Ahm   85.0
1      Raj  21.0      MUM   90.0
2     Keya  19.0  Unknown   88.0
3       Om  20.0      Ahm   83.6
4     Neha  20.4      Del   70.0
5  Unknown  22.0      MUM   85.0

In [35]:
#Normalization the text , Uppercase
df_clean['Name'] = df_clean['Name'].str.upper()
print("\nAfter Converting Names to UPPERCASE:\n", df_clean)

After Converting Names to UPPERCASE:
       Name   Age     city  Marks
0       OM  20.0      Ahm   85.0
1      RAJ  21.0      MUM   90.0
2     KEYA  19.0  Unknown   88.0
3       OM  20.0      Ahm   83.6
4     NEHA  20.4      Del   70.0
5  UNKNOWN  22.0      MUM   85.0

In [36]:
#Sorting the data 
df_sorted = df_clean.sort_values(by='Marks' , ascending=False)
print("\n Sorted By marks Desending order:\n" , df_sorted)

 Sorted By marks Desending order:
       Name   Age     city  Marks
1      RAJ  21.0      MUM   90.0
2     KEYA  19.0  Unknown   88.0
0       OM  20.0      Ahm   85.0
5  UNKNOWN  22.0      MUM   85.0
3       OM  20.0      Ahm   83.6
4     NEHA  20.4      Del   70.0

In [ ]:
print(df_clean.groupby("city")['Marks'].mean())
#AVG Marks By City 
#ke kai city ma ketla Students are clavers and all

city
Ahm        84.3
Del        70.0
MUM        87.5
Unknown    88.0
Name: Marks, dtype: float64

In [40]:
agg = df_clean.groupby("city")['Marks'].agg(['mean','min','max','count'])
print("\nAggregation Result:\n", agg)

Aggregation Result:
          mean   min   max  count
city
Ahm      84.3  83.6  85.0      2
Del      70.0  70.0  70.0      1
MUM      87.5  85.0  90.0      2
Unknown  88.0  88.0  88.0      1

In [41]:
print("\n--- SUMMARY REPORT ---")
print("Total Students:", len(df_clean))
print("Average Age:", round(df_clean['Age'].mean(), 2))
print("Highest Marks:", df_clean['Marks'].max())
print("Top Student:\n", df_clean[df_clean['Marks'] == df_clean['Marks'].max()])

--- SUMMARY REPORT ---
Total Students: 6
Average Age: 20.4
Highest Marks: 90.0
Top Student:
   Name   Age city  Marks
1  RAJ  21.0  MUM   90.0